<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Titulo por defecto {% endblock title%}</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/public/output.css">
</head>
<body class="bg-gray-300 h-full flex flex-row ">
<aside id="logo-sidebar"
class="w-1/6 py-3 flex flex-col items-center gap-14 transition-transform esa -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 max-sm:hidden max-md:hidden dark:border-gray-400"
style="height: auto;"
aria-label="Sidebar">
    <img src="/static/imagenes/imglogo2.png" alt="Logo" width="150px" height="50px">
    <div class="h-full w-full pl-2 overflow-y-auto bg-white dark:bg-white">
        <ul class="space-y-2 font-medium">
        <li>
            <a href="../inicio"
                class="flex items-center p-2 text-Nac rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-Nac dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
                <span class="ms-3">Inicio</span>
            </a>
        </li>
        <li>
            <a href="../producto-section" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 320 512V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM512 288H320v32c0 17.7-14.3 32-32 32H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V288z"/></svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Inventario</span>
            </a>
        </li> 
        <li>
            <a href="../mantenimiento-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-Nac dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                    d="M176 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64c-35.3 0-64 28.7-64 64H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H64v56H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H64v56H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H64c0 35.3 28.7 64 64 64v40c0 13.3 10.7 24 24 24s24-10.7 24-24V448h56v40c0 13.3 10.7 24 24 24s24-10.7 24-24V448h56v40c0 13.3 10.7 24 24 24s24-10.7 24-24V448c35.3 0 64-28.7 64-64h40c13.3 0 24-10.7 24-24s-10.7-24-24-24H448V280h40c13.3 0 24-10.7 24-24s-10.7-24-24-24H448V176h40c13.3 0 24-10.7 24-24s-10.7-24-24-24H448c0-35.3-28.7-64-64-64V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H280V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H176V24zM160 128H352c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32zm192 32H160V352H352V160z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Mantenimiento</span>
            </a>
        </li>
        <li>
            <a href="#"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                    d="M96 0C60.7 0 32 28.7 32 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H96zM208 288h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H144c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zM512 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V80zM496 192c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm16 144c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V336z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Contactos</span>
            </a>
        </li>
        <li>
            <a href="../reportes-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                    d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Reportes</span>
            </a>
        </li>
        <li>
            <a href="../usuario-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path
                    d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Usuarios</span>
            </a>
        </li>
        <li>
            <a href="../rol-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Roles</span>
            </a>
        </li>
        <li>
            <a href="../sede-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                    d="M357.7 8.5c-12.3-11.3-31.2-11.3-43.4 0l-208 192c-9.4 8.6-12.7 22-8.5 34c87.1 25.3 155.6 94.2 180.3 181.6H464c26.5 0 48-21.5 48-48V256h32c13.2 0 25-8.1 29.8-20.3s1.6-26.2-8.1-35.2l-208-192zM288 208c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H304c-8.8 0-16-7.2-16-16V208zM24 256c-13.3 0-24 10.7-24 24s10.7 24 24 24c101.6 0 184 82.4 184 184c0 13.3 10.7 24 24 24s24-10.7 24-24c0-128.1-103.9-232-232-232zm8 256a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM0 376c0 13.3 10.7 24 24 24c48.6 0 88 39.4 88 88c0 13.3 10.7 24 24 24s24-10.7 24-24c0-75.1-60.9-136-136-136c-13.3 0-24 10.7-24 24z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Sedes</span>
            </a>
        </li>
        <li>
            <a href="../responsable-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                    d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7H162.5c0 0 0 0 .1 0H168 280h5.5c0 0 0 0 .1 0H417.3c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2H224 204.3c-12.4 0-20.1 13.6-13.7 24.2z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Responsables</span>
            </a>
        </li>
        <li>
            <a href="../proveedor-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path
                    d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z" />
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Proveedores</span>
            </a>
        </li>
        <li>
            <a href="../categoria-section"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-green-200 dark:hover:bg-Andes group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" 
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M264.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 149.8C37.4 145.8 32 137.3 32 128s5.4-17.9 13.9-21.8L264.5 5.2zM476.9 209.6l53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 277.8C37.4 273.8 32 265.3 32 256s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0l152-70.2zm-152 198.2l152-70.2 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 405.8C37.4 401.8 32 393.3 32 384s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0z"/></svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Categorias</span>
            </a>
        </li>
        </ul>
    </div>
</aside>
<!-- contenedor central -->
<div class="flex flex-col w-full gap-4 items-center ">
    <nav class="w-full bg-Andes dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <!-- contenedor menu -->
                <div @click.away="open = false" class="relative md:hidden inline-block text-left" x-data="{ open: false }">
                    <button @click="open = !open" class="text-3xl text-white md:hidden">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute left-0 w-56 mt-2 bg-white rounded-md shadow-lg z-50">
                        <div class="py-1" role="none">
                            <a href="/inicio" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-house mr-2"></i>Inicio</a>
                            <a href="/producto-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-briefcase mr-2"></i>Inventario</a>
                            <a href="/mantenimiento-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-microchip mr-2"></i>Mantenimiento</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-address-book mr-2"></i>Contactos</a>
                            <a href="/reportes-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-list-check mr-2"></i>Reportes</a>
                            <a href="/usuario-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-users mr-2"></i>Usuarios</a>
                            <a href="/rol-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-user mr-2"></i>Roles</a>
                            <a href="/sede-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-warehouse mr-2"></i>Sedes</a>
                            <a href="/responsable-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-user-tie mr-2"></i>Responsables</a>
                            <a href="/proveedor-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-user-group mr-2"></i>Proveedores</a>
                            <a href="/categoria-section" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-200"><i class="fa-solid fa-layer-group mr-2"></i>Categorías</a>
                        </div>
                    </div>
                </div>
                <div class="max-md:absolute max-md:ml-10">
                <h4 class="font-extrabold text-xl max-sm:text-base text-white">{% block usuario%} Usuario Default {% endblock usuario%}</h4>
                <p class="font-bold text-sm italic max-sm:text-sm text-white">{{request.session["rol"]}}</p>
                </div>
                <!-- contenedor configuracion -->
                <div @click.away="open = false" class="relative" x-data="{ open: false }">
                    <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-Andes focus:bg-green-600 focus:outline-none focus:shadow-outline max-[400px]:bg-white">
                        <span class="text-white font-bold max-[400px]:hidden">Configuracion</span>
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1 max-[400px]:hidden">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                        <i class="fa-solid fa-gear mr-2 text-gray-900 max-[400px]:inline hidden"></i>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-1 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-80 mt-2 origin-top-right rounded-md shadow-lg md:w-80 z-50">
                        <div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800">
                            <div class="px-4 py-3 inline-flex items-center" role="none">
                                <i class="fa-solid fa-user-check mr-3 rounded-lg items-center text-center content-center m-auto bg-blue-200 w-10 h-10"></i>
                                <div>
                                    <p class="text-sm text-gray-900 dark:text-white" role="none">
                                        {{request.session["nombre"]}}
                                    </p>
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                        {{request.session["correo"]}}
                                    </p>
                                </div>
                            </div>
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-green-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">
                                <i class="fa-solid fa-bug mr-3"></i>Reportar bug
                            </a>
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-green-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">
                                <i class="fa-solid fa-question mr-3"></i>Ayuda
                            </a>
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-green-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/salir">
                                <i class="fa-solid fa-right-from-bracket mr-3"></i>salir
                            </a>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </nav>
    {% block content %}
    
    {% endblock content %}
</div>
<!-- modal para los formularios -->
<section id="form-container" class="modal fixed inset-0 bg-[#111111bd] flex opacity-0 pointer-events-none">
<div class="modal__container m-auto max-w-[800px] max-h-[90%] bg-white rounded-[6px] p-[3em_2.5em] grid gap-[1em] place-items-center shadow-md relative overflow-y-auto">
    <button onclick="closeForm()" class="modal__close absolute top-4 right-4 w-10 h-10 flex justify-center items-center cursor-pointer text-gray-600 hover:text-gray-900">
        <i class="fa-regular fa-circle-xmark fa-2xl"></i>
    </button>
{% block forms%}

{% endblock forms%}
</div>
</section>
<!-- contenedor de los formularios de editar -->
<div id="form-container-edits"></div>
<!-- scripts necesarios en el aplicativo -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="../static/js/main.js"></script>
</body>
</html>