{% extends 'base.html' %}
{% block title %}
    Categorias
{% endblock %}
{% block content %}
    
<h1 class="font-bold text-xl">Seccion de Categorias</h1>
<div class="flex justify-center items-center w-full">
    <!-- component -->
    <div class="mx-2 w-auto my-2 py-2 px-3 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8 flex flex-col justify-center items-center">
        <div class="align-middle rounded-tl-lg rounded-tr-lg w-full py-4 overflow-hidden bg-white shadow-lg px-8">
            <!-- div del buscador y la secion de arriba -->
            <div class="flex justify-between items-center w-full px-8">
              <!-- Div del botón Agregar -->
              <div class="flex items-center space-x-2 bg-gray-100 p-2 mx-4 rounded-md shadow-md">
                  <span class="text-sm font-semibold text-gray-800">Agregar</span>
                  <button
                    title="Add New"
                    class="open_modal px-2 group cursor-pointer outline-none hover:rotate-90 duration-300"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="40px"
                      height="40px"
                      viewBox="0 0 24 24"
                      class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300"
                    >
                      <path
                        d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                        stroke-width="1.5"
                      ></path>
                      <path d="M8 12H16" stroke-width="1.5"></path>
                      <path d="M12 16V8" stroke-width="1.5"></path>
                    </svg>
                  </button>
              </div>
          
              <!-- Div del botón Cargue masivo -->
              <div class="flex items-center space-x-2 bg-gray-100 p-2 mx-4 rounded-md shadow-md">
                  <span class="text-sm font-semibold text-gray-800">Cargue masivo</span>
                  <label class="flex items-center cursor-pointer px-2 group outline-none hover:rotate-90 duration-300">
                    <input type="file" title="cargar archivos" class="hidden"/>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="40px"
                      height="40px"
                      viewBox="0 0 24 24"
                      class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300"
                    >
                      <path
                        d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                        stroke-width="1.5"
                      ></path>
                      <path d="M8 12H16" stroke-width="1.5"></path>
                      <path d="M12 16V8" stroke-width="1.5"></path>
                    </svg>
                  </label>
              </div>
          
              <!-- Div del buscador -->
              <div class="flex border mx-2 rounded-lg w-1/2 h-12 bg-white shadow-md">
                  <div class="flex items-center w-full h-full bg-white px-4">
                      <span class="flex items-center leading-normal bg-transparent rounded-l-lg text-grey-dark text-lg">
                          <svg width="18" height="18" class="w-4 lg:w-auto" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.11086 15.2217C12.0381 15.2217 15.2217 12.0381 15.2217 8.11086C15.2217 4.18364 12.0381 1 8.11086 1C4.18364 1 1 4.18364 1 8.11086C1 12.0381 4.18364 15.2217 8.11086 15.2217Z" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M16.9993 16.9993L13.1328 13.1328" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                      </span>
                      <input type="text" class="flex-shrink flex-1 leading-normal tracking-wide border-none rounded-r-lg px-3 focus:outline-none text-xs text-gray-500" placeholder="Buscar una categoria">
                  </div>
              </div>
          </div>
          
        </div>
        <div class="align-middle w-full flex flex-col shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
            <table class="max-w-full">
                <thead>
                    <tr>
                        <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">ID</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Nombre de la categorias</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Acciones</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% for categoria in categorias %}
                    <tr class="odd:bg-gray-100">
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{categoria.id}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{categoria.nombre}}</td>
                        <td class="px-0 py-4 whitespace-no-wrap border-b border-gray-500 text-sm leading-5">
                            <button class="editar px-4 py-2 border-black border bg-Andes text-white rounded transition duration-300 hover:bg-green-800 hover:text-white focus:outline-none" data-href="#">Editar</button>
                            <button class="delete px-4 py-2 bg-gray-500 text-white rounded transition duration-400 hover:bg-orange-700 hover:text-white focus:outline-none" data-href="your-delete-url">Eliminar</button>
                        </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between mt-4 work-sans">
    <div>
    <p class="text-sm leading-5 text-blue-700">
        Mostrando
        <span class="font-medium">1</span>
        hasta
        <span class="font-medium">5</span>
        de
        <span class="font-medium">20</span>
        Resultados
    </p>
    </div>
    <div>
    <nav class="relative p-4 z-0 inline-flex shadow-sm">
        <div>
            <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)">
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <div>
            <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                1
            </a>
        <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                2
            </a>
        <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                3
            </a>
        </div>
        <div v-if="pagination.current_page < pagination.last_page">
            <a href="#" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </nav>
    </div>
    </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block forms %}
<h2 class="text-2xl font-bold text-gray-800 mb-4">Agregar nueva categoria</h2>
<form id="form-categoria" action="/crear-categoria" method="post" class="flex flex-col">
    <input
    placeholder="Nombre categoria"
    name="nombre"
    required
    class="bg-gray-100 text-gray-800 border-0 lg:w-96 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
    type="text"/>
  <button class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150"
  type="submit">
  Enviar Datos
</button>
</form>
{% endblock %}

