{% extends 'base.html' %}
{% block title %}
    Categorias
{% endblock %}
{% block usuario %}
   {{request.session['nombre']}}
{% endblock %}
{% block content %}
<!-- <h1 class="font-bold text-xl">Seccion de Categorias</h1> -->
<div class="flex px-4 h-auto space-x-4">
    <a href="#mantenimientos" class="block max-w-screen-xl p-6 h-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <!-- incon font awsome por si acaso -->
        <!-- <i class="fa-solid fa-circle-info fa-xl absolute right-20"></i> -->
        <h1 class="font-bold text-black text-3xl mb-4">Sección de las categorias de productos del sistema</h1>
        <p class="font-normal text-sm text-gray-700 dark:text-gray-400 text-justify">
            En esta sección del sistema encontrarás las categorías registradas hasta el momento. Como administrador, podrás agregar, editar y eliminar categorías. Además, en esta parte del aplicativo también se encuentra el campo de depreciación, el cual es definido por el usuario y puede ser modificado según sea necesario.
        </p>
    </a>
</div>
<main class="flex justify-center items-center w-full">
    <!-- conponente -->
    <div class="w-full mb-8 sm:px-2 overflow-x-auto sm:-mx-6 lg:px-4 flex-col justify-center items-center flex">
        <div class="align-middle rounded-tl-lg rounded-tr-lg w-full py-4 overflow-hidden bg-white border border-gray-500 shadow-lg px-2 lg:px-4">
            <!-- Responsive layout for the search bar and buttons -->
            <div class="flex flex-wrap justify-between items-center w-full max-sm:space-y-4 space-y-2 md:space-y-0 md:flex-nowrap">
                <!-- Div del botón Agregar -->
                <div class="flex items-center mx-4 space-x-2 bg-gray-100 p-2 border border-gray-400 rounded-md shadow-md w-full sm:w-1/2">
                    <span class="text-sm font-semibold text-gray-800">Agregar categoria</span>
                    <button title="Add New" class="open_modal px-2 group cursor-pointer outline-none hover:rotate-90 duration-300" data-id="categoria-form">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                            <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke-width="1.5"></path>
                            <path d="M8 12H16" stroke-width="1.5"></path>
                            <path d="M12 16V8" stroke-width="1.5"></path>
                        </svg>
                    </button>
                </div>
                <!-- Div del botón Cargue masivo -->
                <div class="flex items-center mx-4 space-x-2 bg-gray-100 p-3 border border-gray-400 rounded-md shadow-md w-full sm:w-1/2">
                    <span class="text-sm font-semibold text-gray-800">Cargue masivo</span>
                    <label class="flex items-center cursor-pointer px-2 group outline-none hover:rotate-90 duration-300">
                        <input type="file" title="cargar archivos" class="hidden fileInput" data-endpoint="Roles"/>
                        <i class="fa-solid fa-file-arrow-up fa-xl"></i>
                    </label>
                </div>
                <!-- Buscador de registros -->
                <div class="flex items-center mx-4 w-full relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
                    </div>
                    <input type="search" class="searchInput block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar categorias" required />
                </div>
                <!-- Selector de filas por página -->
                <div class="flex items-center mx-4 max-sm:w-full max-sm:pb-6">
                    <label for="rowsPerPage" class="mr-2 bg-green-100 p-2 rounded-lg text-gray-700 italic border border-gray-300 font-semibold">Mostrar:</label>
                    <select id="rowsPerPage" class="border rowsPerPage bg-green-100 border-gray-300 rounded-md p-2 focus:outline-none ">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
        <div class="align-middle w-full flex-col overflow-hidden bg-white shadow-dashboard pt-3 rounded-bl-lg rounded-br-lg hidden md:inline-flex">
            <table class="w-full items-center mt-4 m-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-3 text-base border-b-2 border-gray-300 text-center leading-4 text-green-500 tracking-wider">ID</th>
                        <th class="px-4 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Nombre de la categorias</th>
                        <th class="px-4 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Depreciacion mensual</th>
                        <th class="px-4 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Vida util aproximado</th>
                        <th class="px-4 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Acciones</th>
                    </tr>
                </thead>
                <tbody class="bg-white tables-body">
                    {% for categoria in categorias %}
                    <tr class="odd:bg-gray-100">
                        <td class="px-4 py-4 whitespace-no-wrap border-b text-center font-bold border-gray-500">
                            {{categoria.id}}
                        </td>
                        <td class="px-4 py-4 whitespace-no-wrap border-b text-gray-900 border-gray-500 text-base text-center leading-5 italic">{{categoria.nombre}}</td>
                        <td class="px-4 py-4 whitespace-no-wrap border-b text-gray-900 border-gray-500 text-base text-center leading-5 italic font-semibold">% {{categoria.depreciacion}}</td>
                        <td class="px-4 py-4 whitespace-no-wrap border-b text-gray-900 border-gray-500 font-semibold text-base text-center leading-6">
                            {{ ((100 / categoria.depreciacion) / 12) | int }} años
                        </td>                        
                        <td class="px-0 py-4 whitespace-no-wrap border-b border-gray-500 text-sm leading-5 text-center">
                            <button class="editar px-4 py-2  border text-white bg-[#13A438] rounded transition duration-300 hover:bg-green-500 hover:text-white focus:outline-none" data-endpoint="categoria" data-id="{{ categoria.id }}"><i class="fas fa-edit mr-2"></i> Editar</button>
                            <form id="delete-form-{{ categoria.id }}" class="inline-flex" action="/categoria-deleted/{{ categoria.id }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete px-4 py-2 bg-[#5B5C5C] rounded text-white transition duration-400 hover:bg-orange-800 hover:text-white focus:outline-none">
                                    <i class="fas fa-trash mr-2"></i> Eliminar
                                </button>
                            </form>
                        </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- design of the records responsive -->
        <div class="cards-responsive grid grid-cols-1 gap-6 md:hidden">
            {% for categoria in categorias %}
            <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-200">
                <!-- Producto Header con color -->
                <h2 class="text-2xl font-semibold text-[#084F21] mb-4">Categoria ID: {{ categoria.id }}</h2>
                <!-- Informacion del Producto -->
                <div class="grid grid-cols-1 gap-2 text-sm">
                    <div class="flex flex-col">
                        <span class="text-gray-500 font-bold">Nombre de la categoria</span>
                        <span class="text-gray-900 text-lg">{{ categoria.nombre }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-gray-500 font-bold">Porcentaje de depreciacion mensual</span>
                        <span class="text-gray-900 text-lg">{{ categoria.depreciacion }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-gray-500 font-bold">Vida util del activo aproximado</span>
                        <span class="text-gray-900 text-lg">{{ ((100 / (categoria.depreciacion)) / 12) | int }} años</span>
                    </div>
                </div>
                <!-- contenedor de las acciones -->
                <div class="flex justify-left items-center mt-6 space-x-2">
                    <button class="editar flex items-center px-4 py-2 text-sm font-medium bg-Andes text-white rounded-lg shadow-md hover:bg-green-600 transition duration-300 ease-in-out" data-endpoint="categoria" data-id="{{ categoria.id }}">
                        <i class="fas fa-edit mr-2"></i> Editar
                    </button>
                    <form id="delete-form-{{ categoria.id }}" action="/categoria-deleted/{{ categoria.id }}" method="post" class="inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete max-[320px]:text-none flex items-center px-4 py-2 text-sm font-medium bg-[#5B5C5C] text-white rounded-lg shadow-md hover:bg-red-600 transition duration-300 ease-in-out">
                            <i class="fas fa-trash mr-2"></i> Eliminar
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination flex justify-center mt-6 space-x-2 max-sm:space-x-1"></div>
        <p class="font-semibold text-base max-sm:m-auto max-sm:mt-4 max-sm:mx-4">Total de registros  <strong>{{categorias|count}}</strong></p>

    </div>
    </div>
</main>
<script src="../static/js/tables.js"></script>
<script src="../static/js/forms.js"></script>
<script src="../static/js/search.js"></script>
{% endblock %}
{% block forms %}
<div id="categoria-form" class="hidden modal__form">
<h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Nueva categoria</h2>
<form id="form-categoria" action="/crear-categoria" method="post" class="form flex flex-col">
    <input placeholder="Nombre categoria" name="nombre" required type="text"
    class="bg-gray-200 text-gray-800 border-0 lg:w-96 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"/>
    <input placeholder="porcentaje de depreciacion mensual" name="depreciacion" required type="text"
    class="bg-gray-200 text-gray-800 border-0 lg:w-96 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"/>
  <button class="bg-gradient-to-r bg-[#084F21] text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-green-600 transition ease-in-out duration-150"
  type="submit">
  Enviar datos
</button>
</form>
</div>
{% endblock %}

