{% extends 'base.html' %}
{% block title %}
  Proveedores
{% endblock %}
{% block usuario %}
   {{request.session['nombre']}}
{% endblock %}
{% block content %}
<h2 class="font-bold text-xl">Seccion del Proveedor</h2>
<div class="flex items-center space-x-2 bg-gray-100 p-2 rounded-md shadow-md">
  <span class="text-sm font-semibold text-gray-800">Agregar</span>
  <button
    title="Add New"
    class="open_modal px-2 group cursor-pointer outline-none hover:rotate-90 duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40px"
      height="40px"
      viewBox="0 0 24 24"
      class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300"
    >
      <path
        d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
        stroke-width="1.5"
      ></path>
      <path d="M8 12H16" stroke-width="1.5"></path>
      <path d="M12 16V8" stroke-width="1.5"></path>
    </svg>
  </button>
</div>
        <!-- Div del botón Cargue masivo -->
        <div class="flex items-center space-x-2 bg-gray-100 p-2 rounded-md shadow-md">
          <span class="text-sm font-semibold text-gray-800">Cargue masivo</span>
          <label class="flex items-center cursor-pointer px-2 group outline-none hover:rotate-90 duration-300">
          <input type="file" title="cargar archivos" class="hidden" id="fileInput" data-endpoint="Proveedor"/>
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40px"
              height="40px"
              viewBox="0 0 24 24"
              class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300"
          >
              <path
              d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
              stroke-width="1.5"
              ></path>
              <path d="M8 12H16" stroke-width="1.5"></path>
              <path d="M12 16V8" stroke-width="1.5"></path>
          </svg>
          </label>
      </div>
<div class="flex justify-center items-center w-full">

  <table id="export-table" class="display bg-white">
    <thead>
        <tr>
            <th>
                <span class="flex items-center ">
                    ID
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th data-type="date" data-format="YYYY/DD/MM">
                <span class="flex items-center">
                    Nombre
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Direccion
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Telefono
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Acciones
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for proveedor in proveedores %}
      <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer">
          <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white">{{proveedor.id}}</td>
          <td>{{proveedor.nombre}}</td>
          <td>{{proveedor.direccion}}</td>
          <td>{{proveedor.telefono}}</td>
          <td>
            <button class="editar px-4 py-2 text-white bg-Andes rounded transition duration-300 hover:bg-green-800 hover:text-white focus:outline-none" data-endpoint="proveedor" data-id="{{ proveedor.id }}">Editar</button>
            <form id="delete-form-{{ proveedor.id }}" class="inline-flex" action="/proveedor-deleted/{{ proveedor.id }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="delete px-4 py-2 bg-gray-500 rounded text-white transition duration-400 hover:bg-orange-800 hover:text-white focus:outline-none">
                  Eliminar
              </button>
          </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
{% block forms %}
<h2 class="text-2xl font-bold text-gray-800 mb-4">Nuevo Proveedor</h2>
<form action="/crear-proveedor" method="post" id="form-proveedor" class="flex flex-col">
  <input placeholder="Nombre del Proveedor" class="bg-gray-100 text-gray-800 lg:w-96 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
    type="text" name="nombre" required/>
  <input placeholder="Direccion" class="bg-gray-100 text-gray-800 lg:w-96 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
    type="text" name="direccion" required />
  <input placeholder="Numero de Telefono" class="bg-gray-100 text-gray-800 lg:w-96 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
    type="number" name="telefono" required/>
  <button class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150" type="submit">
    Enviar
  </button>
</form>
{% endblock %}
