{% extends 'base.html' %}
{% block title %}
    Roles
{% endblock %}
{% block usuario %}
   {{request.session['nombre']}}
{% endblock %}
{% block content %}
<!-- <h1 class="font-bold text-xl">Seccion de Roles del aplicativo</h1> -->
<div class="flex px-4 h-auto space-x-4">
    <a href="#mantenimientos" class="block max-w-screen-xl p-6 h-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <!-- incon font awsome por si acaso -->
        <!-- <i class="fa-solid fa-circle-info fa-xl absolute right-20"></i> -->
        <h1 class="font-bold text-black text-3xl mb-4">Seccion de roles de usuarios del sistema</h1>
        <p class="font-normal text-sm text-gray-700 dark:text-gray-400 text-justify">
            En esta sección del sistema encontrarás los roles de usuario registrados hasta el momento. Como administrador, podrás crear, cargar, editar y eliminar roles. Es importante recordar que cada usuario tiene un rol asignado. Además, podrás configurar las vistas que deseas que cada usuario acceda en el apartado de <strong>Permisos - Configurar.</strong>
        </p>
    </a>
</div>
<main class="flex justify-center items-center w-full">
    <!-- conponente -->
    <div class="w-full mb-8 sm:px-2 overflow-x-auto sm:-mx-6 lg:px-4 flex-col justify-center items-center flex">
        <div class="align-middle rounded-tl-lg rounded-tr-lg w-full py-4 overflow-hidden bg-white border border-gray-500 shadow-lg px-2 lg:px-4">
            <!-- Responsive layout for the search bar and buttons -->
            <div class="flex flex-wrap justify-between items-center w-full max-sm:space-y-4 space-y-2 md:space-y-0 md:flex-nowrap">
                <!-- Div del botón Agregar -->
                <div class="flex items-center mx-4 space-x-2 bg-gray-100 border border-gray-400 p-2 rounded-md shadow-md w-full sm:w-1/2">
                    <span class="text-sm font-semibold text-gray-800">Agregar nuevo rol</span>
                    <button title="Add New" class="open_modal px-2 group cursor-pointer outline-none hover:rotate-90 duration-300" data-id="roles-form">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                            <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke-width="1.5"></path>
                            <path d="M8 12H16" stroke-width="1.5"></path>
                            <path d="M12 16V8" stroke-width="1.5"></path>
                        </svg>
                    </button>
                </div>
                <!-- Div del botón Cargue masivo -->
                <div class="flex items-center mx-4 space-x-2 bg-gray-100 border border-gray-400 p-3 rounded-md shadow-md w-full sm:w-1/2">
                    <span class="text-sm font-semibold text-gray-800">Cargue masivo de roles</span>
                    <label class="flex items-center cursor-pointer px-2 group outline-none hover:rotate-90 duration-300">
                        <input type="file" title="cargar archivos" class="hidden fileInput" data-endpoint="Roles"/>
                        <i class="fa-solid fa-file-arrow-up fa-xl"></i>
                    </label>
                </div>
                <!-- Buscador de registros -->
                <div class="flex items-center mx-4 w-full relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
                    </div>
                    <input type="search" class="searchInput block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar roles" required />
                </div>
                <!-- Selector de filas por página -->
                <div class="flex items-center mx-4 max-sm:w-full max-sm:pb-6">
                    <label for="rowsPerPage" class="mr-2 bg-green-100 p-2 rounded-lg text-gray-700 italic border border-gray-300 font-semibold">Mostrar:</label>
                    <select id="rowsPerPage" class="border rowsPerPage bg-green-100 border-gray-300 rounded-md p-2 focus:outline-none ">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
        <div id="Roles" class="align-middle w-full flex-col overflow-hidden bg-white shadow-dashboard pt-3 rounded-bl-lg rounded-br-lg hidden md:inline-flex">
            <table class="w-9/12 m-auto">
                <thead>
                    <tr>
                        <th class="px-2 py-3 border-b-2 border-gray-300 text-center leading-4 text-green-500 tracking-wider">ID</th>
                        <th class="px-2 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Nombre del rol</th>
                        <th class="px-2 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Permisos</th>
                        {% if id_rol == 1 %}
                            <th class="px-2 py-3 border-b-2 border-gray-300 text-center text-base leading-4 text-green-500 tracking-wider">Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="bg-white tables-body">
                    {% for rol in roles %}
                    <tr class="odd:bg-gray-100">
                        <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="text-base leading-5 font-bold text-gray-800 text-center">{{rol.id}}</div>
                        </td>
                        <td class="px-2 py-4 whitespace-no-wrap border-b text-center text-gray-900 border-gray-500 text-base leading-5">{{rol.nombre}}</td>
                        <td class="px-2 py-4 whitespace-no-wrap border-b text-center border-gray-500 text-base leading-5">
                        {% if id_rol == rol.id %}
                        <button class="open_modal px-4 py-2 border-black border bg-[#084F21] text-white rounded transition duration-300 hover:bg-green- pointer-events-none opacity-50 hover:text-white focus:outline-none" data-id="form-configuracion">
                            <i class="fa-solid fa-gear mr-2"></i>deshabilitado
                        </button>
                        {% else %}
                        <button class="open_modal px-4 py-2 border-black border bg-[#084F21] text-white rounded transition duration-300 hover:bg-green-800 hover:text-white focus:outline-none" data-id="form-configuracion">
                            <i class="fa-solid fa-gear mr-2"></i>configurar
                        </button>
                        {% endif %}
                        </td>
                        {% if id_rol == 1 %}
                            <td class="px-2 py-4 whitespace-no-wrap border-b text-center border-gray-500 text-base leading-5">
                            <button class="editar px-4 py-2  border text-white bg-[#13A438] rounded transition duration-300 hover:bg-green-500 hover:text-white focus:outline-none" data-endpoint="rol" data-id="{{ rol.id }}">
                                <i class="fas fa-edit mr-2"></i> Editar
                            </button>
                            <form id="delete-form-{{ rol.id }}" class="inline-flex" action="/rol-deleted/{{ rol.id }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete px-4 py-2 bg-[#5B5C5C] rounded text-white transition duration-400 hover:bg-gray-800 hover:text-white focus:outline-none">
                                    <i class="fas fa-trash mr-2"></i> Eliminar
                                </button>
                            </form>
                        </td>
                        {% endif %}
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- design of the records responsive -->
        <div class="cards-responsive grid grid-cols-1 gap-6 md:hidden">
            {% for rol in roles %}
            <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-200">
                <!-- Producto Header con color -->
                <h2 class="text-2xl font-semibold text-[#084F21] mb-4">Rol ID: {{ rol.id }}</h2>
                <!-- Informacion del Producto -->
                <div class="grid grid-cols-1 gap-2 text-sm">
                    <div class="flex flex-col">
                        <span class="text-gray-500 font-bold text-xl">Nombre del Rol en el sistema</span>
                        <span class="text-gray-900 text-lg">{{ rol.nombre }}</span>
                    </div>
                </div>
                <!-- contenedor de las acciones -->
                <div class="flex justify-left items-center mt-6 space-x-2">
                    <button class="editar flex items-center px-4 py-2 text-sm font-medium bg-Andes text-white rounded-lg shadow-md hover:bg-green-600 transition duration-300 ease-in-out" data-endpoint="rol" data-id="{{ rol.id }}">
                        <i class="fas fa-edit mr-2"></i> Editar
                    </button>
                    {% if id_rol == rol.id %}
                        <button class="open_modal max-[320px]:text-none flex items-center px-4 py-2 text-sm font-medium bg-[#084F21] opacity-50 text-white rounded-lg shadow-md transition pointer-events-none duration-300 ease-in-out" data-id="form-configuracion">
                            <i class="fa-solid fa-gear mr-2"></i>deshabilitado
                        </button>
                    {% else %}
                        <button class="open_modal max-[320px]:text-none flex items-center px-4 py-2 text-sm font-medium bg-[#084F21] text-white rounded-lg shadow-md transition duration-300 ease-in-out" data-id="form-configuracion">
                            <i class="fa-solid fa-gear mr-2"></i>configurar
                        </button>
                    {% endif %}
                    <form id="delete-form-{{ rol.id }}" action="/rol-deleted/{{ rol.id }}" method="post" class="inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete max-[320px]:text-none flex items-center px-4 py-2 text-sm font-medium bg-[#5B5C5C] text-white rounded-lg shadow-md hover:bg-gray-700 transition duration-300 ease-in-out">
                            <i class="fas fa-trash mr-2"></i> Eliminar
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="pagination flex justify-center mt-6 space-x-2 max-sm:space-x-1"></div>
    <p class="font-semibold text-base max-sm:m-auto max-sm:mt-4 max-sm:mx-4">Total de registros  <strong>{{roles|count}}</strong></p>

    </div>
    </div>
</main>
<script src="../static/js/tables.js"></script>
<script src="../static/js/forms.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/config.js"></script>
{% endblock %}
{% block forms %}
<!-- contenedor del formulario de roles -->
<div id="roles-form" class="hidden modal__form">
<h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Agregar nuevo rol</h2>
<form id="form-rol" action="/crear-rol" method="post" class="form flex flex-col">
    <input
    placeholder="Nombre del rol"
    name="nombre"
    required
    class="bg-gray-200 text-gray-800 border-0 lg:w-96 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
    type="text"/>
  <button class="bg-gradient-to-r bg-[#084F21] text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-green-600 transition ease-in-out duration-150"
  type="submit">
  Enviar Datos
</button>
</form>
</div>
<!-- contenedor configurar permisos -->
<div id="form-configuracion" class="hidden modal__form">
<h2 class="text-2xl font-bold text-gray-800 my-4">Configurar permisos para este rol</h2>
<form id="config-form" action="/configurar-rutas" method="post" class="flex flex-col">
    <!-- Aquí puedes iterar las rutas -->
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/producto-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Inventario </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/mantenimiento-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Mantenimientos </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Contactos </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/reportes-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Reportes </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/usuario-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Usuarios </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/rol-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Roles </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/sede-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Sedes </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/responsable-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Responsables </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/proveedor-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Proveedor </strong>
        </label>
    </div>
    <div>
        <label class="relative my-2 inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" name="routes" value="/categoria-section" checked/>
            <div class="group mr-4 peer bg-white rounded-full duration-300 w-16 h-8 ring-2 ring-red-500 after:duration-300 after:bg-red-500 peer-checked:after:bg-green-500 peer-checked:ring-green-500 after:rounded-full after:absolute after:h-6 after:w-6 after:top-1 after:left-1 after:flex after:justify-center after:items-center peer-checked:after:translate-x-8 peer-hover:after:scale-95"></div>
            Vista de <strong class="ml-2"> Categorias </strong>
        </label>
    </div>
    <!-- Agrega más rutas según sea necesario -->
    <button type="submit" class="mt-4 bg-Andes rounded-md text-white px-4 py-2">Guardar cambios</button>
  </form>
</div>
{% endblock %}


